
.formControl.error input,
.formControl.error textarea {
  border: solid red 2px;
} 

.formControl.error span {
  color: red;
} 

.test {
  color: red;
}

.formSummaryError {
  color: red;
  border: 1px solid red
}